### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/maven-wrapper.jar

### Java ###
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### OS Files ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

### Docker ###
docker-compose.override.yml
*.env
.env
docker/volumes/

### Miscellaneous ###
# Package lock files - Uncomment if you're not tracking package lock files
# package-lock.json
# yarn.lock
# Ignore application properties containing sensitive information
# *-secrets.properties
# Ignore serialized data files
*.ser

